aiohttp
aiohttp-socks
beautifulsoup4
colorama
einops
hashid
huggingface-hub
imagehash
InquirerPy>=0.3
lupa
matplotlib
numpy
opencv-python
paketlib
phonenumbers
Pillow
PyQt6
PyQt6-WebEngine
PySocks
pystyle
python-whois
requests
rich>=13.0
safetensors
scikit-learn
textual>=0.80
timm
torch
torchvision
